@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}

.is-active{
    background-color: hsla(0, 100%, 36%, 0.825) !important;
    z-index: 50;
}